@use "partials/variables" as *;
@use "partials/mixins" as *;


body {
color: #323232;
    font-family: "Avenir";
    font-weight: 600;
    background-color: #000000;
    margin: auto;
    padding: 2.4rem;
  
    @include tablet {
        margin: auto 2rem auto 2rem;
       
    }
    @include desktop {
        margin: auto auto auto auto;
    }

}






a {
    text-decoration: none;

}



nav {
    display: flex;
    flex-direction: row;
    overflow-wrap: break-word;
    border-top: 0.0625rem solid #E1E1E1;
    border-bottom: 0.0625rem solid #E1E1E1;
   
width: 100%;
height: 20vh;

    background-color: #323232;
 position: relative;

 top:0;
 z-index: 10000;
 vertical-align: middle;

 color: #CDCBCA;

 padding: 0;
 margin-bottom: -7rem;

}

.logo__Bandsite {
    justify-content: center;
    top: -9.5rem;
    margin: 0 2rem 0 7rem;
    position: absolute;
    display: flex; 
    flex-direction: row;
    align-content: center;
    align-self: center;

    justify-content: center;
    height: 50vh;
    width: 50vw;

    @include tablet {
        display: flex;
        flex-direction: row;

     top: -1rem;
   
        margin: initial;
        margin-top: 0;
        height: 75vh;
    width: 75vw; 
    }
    @include desktop {
        display: flex;
        flex-direction: row;

     top: 1.5rem;
     left: 6rem;
        margin: initial;
        margin-top: 0;
        height: 35vh;
    width: 35vw; 
    }

}


ul {
    display: flex;
    overflow-wrap: break-word;
    overflow-wrap: break-word;

   list-style-type: none; 
   text-decoration: none;
 
   display: flex;
 
   color: #E1E1E1;
 
}

li {
    display: flex;
    overflow-wrap: break-word;
   margin: 0rem 5rem 0rem 5rem;
    font-size: 1.3rem;
    line-height: 1.125rem;
    font-weight: 400;
    color: #E1E1E1;
   

    @include tablet {
        flex-direction: row;
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 400;
        color: #E1E1E1;
    }
    @include desktop {
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 400;
        color: #E1E1E1;
    }

}

.nav__item--Biography {
    color: #CDCBCA;
    display: flex; 
    flex-direction: row;
    text-decoration: none;
    margin-left: -2rem;
    margin-top: 4rem;
    position: absolute;
 


    @include tablet {
        font-size: 1.3rem;
        margin-left: 15rem;
        top: -1rem;
    }
    @include desktop {
       
    }

}

.nav__item--Shows {
    color: #CDCBCA;
    display: flex; 
    flex-direction: row;
    position: absolute; 
    margin-top: 4rem;
    right: 7rem;
    top: 1rem;

    @include tablet {
        font-size: 1.3rem;
        left: 35rem;
        top: -0.95rem;
       
    }
    @include desktop {
        
    
 
 }
}

.nav__item--Biography:hover {
  
 
      border-bottom: 0.3rem solid white;
 
      padding-bottom: 1.5rem;
      padding-right: 9rem;
      padding-left: 5rem;
     
  
      color: white;
      font-weight: bold;
     
      left: 2rem;
  
    
       @include tablet {
        padding: initial;
      left: initial;
        border-bottom: 0.3rem solid white;
   
        padding-bottom: 3.3rem;
     
     
    
        color: white;
        font-weight: bold;
    
       
  
       }
    
       @include desktop {
          padding: initial;
          padding-bottom: 3.3rem;
       }
    
    }
  



 .nav__item--Shows:hover {
    
    border-bottom: 0.3rem solid white;
    color: white;
    font-weight: bold;
    padding-bottom: 1.5rem;
    padding-right: 7rem;
    padding-left: 9rem;
    right: 0.01rem;


    @include tablet {
        padding: initial;
        border-bottom: 0.3rem solid white;
        color: white;
        font-weight: bold;
        padding-bottom: 3.3rem;
        
  
        right: initial;
       }
    
       @include desktop {
        padding: initial;
        padding-bottom: 3.3rem;
       }
 }


.div__backgroundImage {
  
    margin-top: 7rem;
    background-color: #323232;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
 


    @include tablet {
      
        width: 100%;
        height: 100vh;
        height: 35rem;
        background-position: 50% 5%;
    }
    @include desktop {
    
        width: 100%;
        max-height: 100%;
        height: 43rem;
        background-position: 50% 5%;
    }
}

.backgroundImage__Image {
    

    display: flex;
    
        position: relative;
    background-image: url(../assets/images/hero-shows.jpg);

   opacity: 40%;
  
  
    background-size: cover;
    background-position: center;
  
    width: 100vw;
    height: 45vh;
    background-position: 50% 5%;
   

    @include tablet {
      
        width: 100%;
        height: 100vh;
        height: 35rem;
        background-position: 50% 5%;
    }
    @include desktop {
    
        width: 100%;
        max-height: 100%;
        height: 43rem;
        background-position: 50% 5%;
    }
}

.div__h1--bandName {
   font-weight: 700;
    color: #FAFAFA;
    position: absolute;
    
    

   top: 5%;
  left: 10%;

    display: inline-block;

 width: 100%;
text-align: left;
 
 
    font-size: 2.5rem;
    line-height: 2rem;
    font-weight: 700;
    

    @include tablet {
        font-weight: 700;
        font-size: 3.75rem;
        line-height: 4.25rem;
        font-weight: 700;
        top: 34%;
        left: 10%;
    }
    @include desktop {
        font-weight: 700;
        font-size: 3.75rem;
        line-height: 4.25rem;
        font-weight: 700;
       
    }
}

.p__Beautiful {
    margin-top: -5rem;
}

.h1__bandName {
    
font-size: 2.5rem;
line-height: 3rem;
position: relative; 
display: flex;

}


//*********** Soundcloud iFrame *********


iframe {
   position: absolute; 
   top: 7rem;
   justify-content: center;
   align-items: center; 
   height: 8rem;
   left: 0.5rem;

    @include desktop {
        width: 75%;
    }
    
}


p {
    font-size: 1.5rem;
}


h2 {
    
    font-weight: 600;
    font-size: 2.5rem;

    @include tablet {
padding-left: 2rem;
    }

    @include desktop {
        margin-left: 5rem;
    }
}




//fix
img {
    width: 95%;
    height: 100%;
    padding: 1rem;

    @include tablet {
        width: 27%;
        height: 29%;
        justify-content: center;
      
    }
    @include desktop {
        width: 30%;
    height: 30%;
    justify-content: center;
    }  
}


.div__About {
    font-size: 2.7rem;
}


//********** SHOWS section **********

.div__whiteBackground {
    background-color: #FFFFFF;
    padding: 1rem;
    display: flex; 
flex-direction: column; 
flex-wrap: wrap;

/*@include tablet {
    flex-direction: row; 
}

@include desktop {
    flex-direction: row; 
}*/
    
}

.shows {
display: flex;
flex-direction: column;

@include tablet {
  
}

@include desktop {
  
}

}

.show-row {
   
   border-bottom: 0.15rem solid #E1E1E1;
   display: flex; 
   flex-direction: column;
  
   margin-bottom: 1rem;
   padding: 1rem;
   //position: relative;
   max-width: 75vw;

  @include tablet {
    flex-direction: row; 
   }

@include desktop {
    flex-direction: row; 
    
    
}
}

.show-row:hover {
   background-color: #FAFAFA;
   
  
 }

 


 /*.show-row:active {
    background-color: #E1E1E1;
 }*/

 .show-row.row-click, .click {
    background-color: #E1E1E1;
   
   
 }

 //bugfix attempt to fix how the headers don't change color upon click event 
 .dateHeader.header-click {

    @include tablet {
    color: #E1E1E1;
    }

    @include desktop {}
 }

 .venueHeader.header-click {
    @include tablet {
        color: #E1E1E1;
        }
    
        @include desktop {}

 }

 .locationHeader.header-click {
    @include tablet {
        color: #E1E1E1;
        }
    
        @include desktop {}
 }



.dateHeader {
margin-top: 1rem;
}

.dateHeader, .venueHeader, .locationHeader {
    color: #AFAFAF;
    margin-bottom: 1rem;
    font-size: 1.1rem;

    @include tablet {
        color: #FFFFFF;
    }

    @include desktop {
        color: #FFFFFF;
    }
   
}



.dateEl, .venueEl, .locationEl {
    margin-bottom: 2rem;
    font-size: 1.4rem;
    font-weight: 400;

    @include tablet {
        flex-direction: row; 
    }

    @include desktop {
        flex-direction: row; 
        font-size: 1rem;
    }
}

.locationEl {

    @include tablet {
       
    }

    @include desktop {
     // margin-right: 1rem;
      // margin-left: -3rem;
    }
}

.dateEl {
    font-weight: 800;

    @include desktop {
        margin-left: auto;
       
    }
}

.buttonDiv {
    
    justify-content: center;
    align-items: center;

    @include tablet {
        flex-direction: row; 
    }

    @include desktop {
        flex-direction: row; 
        //max-width: 5vw;
        //justify-content: initial;
        //text-align: center;
        //margin-right: -11rem;
       // max-width: 3vw;
        
    }
 
}

.button {
    font-size: 1.5rem;
    font-weight: 500;
border-radius: 0.5rem;
border: none;
background-color: #323232;
color: #FFFFFF;
padding: 1.5rem 12rem 1.5rem 12rem;

margin-bottom: 2rem;
max-width: 85vw;

//align-items: center;
//position: absolute;

@include tablet {
    flex-direction: row; 
    text-align: center;
    margin-right: -7rem;
    padding: 1rem 4rem 1rem 4rem;
   white-space: nowrap;
   //text-align: right;
   //flex-wrap: wrap;
   justify-content: flex-end;
   margin-left: 3rem;
 

}

@include desktop {
    flex-direction: row; 
   // margin-right: -11rem;
   
 
 //  gap: calc(300px + 50%);
 padding: 0.7rem 2rem 0.7rem 2rem;
 font-size: 1rem;


 //text-align: center;
}

}













//footer

.img__Faceboook, .Important {
    width: 5.5vw;
    height: 5.5vh;
 

    @include tablet {
        width: 5vw;
    height: 5vh;
    }
    @include desktop {
        width: 5vw;
        height: 5vh;
    }
} 

.img__Twitter {
    width: 7vw;
    height: 7vh;

    @include tablet {
        width: 4vw;
    height: 4vh;
    margin-top: 0.2rem;
  
    }
    @include desktop {
        width: 4.5vw;
        height: 4.5vh;
        margin-top: 0.2rem;
    }
} 

.img__Instagram {
    width: 6vw;
    height: 6vh;

    @include tablet {
        width: 5vw;
    height: 5vh;
    }
    @include desktop {
        width: 5vw;
        height: 5vh;
    }
} 






.footer__div--Contacts > * {
    padding: 2rem;

    @include tablet {
        padding: 0.8rem;
       
    }

    @include desktop {
        padding: 2rem;
    }
}

.footer__div--Contacts {
  
    

       @include tablet {
       
            display: flex;
        flex-direction: row;
            justify-content: space-between; 
            align-items: center; 
    
            flex-wrap: wrap;
            justify-content: flex-start;
              
            
        }
         @include desktop {
        display: flex;
        flex-direction: row;
            justify-content: space-between; 
            align-items: center;  
        }
    
        
    

}

footer {
position: relative;
padding: 1rem;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between; 
align-items: center;

    
color: #FAFAFA;
background-color: #323232;
font-size: 0.8125rem;
line-height: 1.125rem;
font-weight: 400;

@include tablet {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
        
    }
    @include desktop {
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 400;
    }
}

.footer__div--Social {

    @include tablet {
      
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1rem;
    }

    @include desktop {
        margin-left: -6rem;
    }

}




.footer__div--Social-Header {


padding-top: 3rem;
    font-weight: 600;
    font-size: 2.7rem;
    line-height: 2rem;
    font-weight: 700;


    @include tablet {
        display: flex;
        font-size: 3.3rem;
    
        line-height: 2.75rem;
        font-weight: 700;
    }
    @include desktop {
        display: flex;
        font-size: 2.7rem;
        line-height: 2.75rem;
        font-weight: 700;
    }
}

.footer__div--Socials {
    @include tablet {
        margin-top: 5rem;
        display: flex;
    }

    @include desktop {
    margin-top: 4rem;
    }
}



.footer__div--Cam > * {
    font-size: 1.5rem;
}

//bolded names in footer 

.p__Footer--Cam {
    font-weight: 600;
}

.p__Footer--Management {
    font-weight: 600;
}

.p__Footer--Pearl {
    font-weight: 600;
}

.p__Footer--Limitless {
    font-weight: 600;
}

.p__Footer--Carson {
    font-weight: 600;
}

.p__Footer--ARCH {
    font-weight: 600;
}



.p__Footer--Management {
    padding-bottom: 1rem;
}

.p__Footer--State {
    padding-bottom: 1rem;
}

.p__Footer--Email-Cam {
    padding-bottom: 1rem;
}



.footer__div--Pearl > * {
    font-size: 1.5rem;
}

.p__Footer--Limitless {
padding-bottom: 1rem;
}

.p__Footer--Country-Pearl {
    padding-bottom: 1rem;
}

.p__Footer--Email-Pearl {
    padding-bottom: 1rem;
}

.p__Footer--ARCH {
    padding-bottom: 1rem;
}

.p__Footer--Country-Cam {
    padding-bottom: 1rem;
}

.p__Footer--Email-Carson {
    padding-bottom: 1rem;
}




.footer__div--Carson > * {
    font-size: 1.5rem;
}







.footer__logo--BANDSITE-2 {

    height: 32vh;
    width: 32vw; 
    padding: 0;  
    padding-left: 2rem;



    @include tablet {
        position: absolute;
        top: 4.2rem;
        right: 3rem;
        height: 17vh;
        width: 17vw; 
        
    }

    @include desktop {
        position: absolute;
         height: 12vh;
         width: 12vw; 
         top: 4rem;
         
    }
}



.footer__Copyright {
    font-size: 1.2rem;
    margin-top: -3rem;
    padding-bottom: 2rem;
    padding-left: 2rem;

    @include tablet {
    margin-top: 2rem;
    padding-left: 1rem;
    }

    @include desktop {
        padding-left: 2rem;
    }
}